policy_module(permissivedomains,21)

optional_policy(`
    gen_require(`
                type osad_t;
    ')
    permissive osad_t;
')

optional_policy(`
    gen_require(`
                type docker_t;
    ')
    permissive docker_t;
')

optional_policy(`
    gen_require(`
        type systemd_networkd_t;
    ')
    permissive systemd_networkd_t;
')

optional_policy(`
    gen_require(`
                type gear_t;
    ')
    permissive gear_t;
')

optional_policy(`
    gen_require(`
                type cockpit_t;
    ')
    permissive cockpit_t;
')

optional_policy(`
    gen_require(`
            type iotop_t;
    ')
    permissive iotop_t;
')

optional_policy(`
    gen_require(`
            type kmscon_t;
    ')
    permissive kmscon_t;
')

optional_policy(`
    gen_require(`
            type naemon_t;
    ')
    permissive naemon_t;
')
