policy_module(permissivedomains,21)

optional_policy(`
    gen_require(`
                type bumblebee_t;
    ')
')

optional_policy(`
    gen_require(`
                type freqset_t;
   ')
')

optional_policy(`
    gen_require(`
                type docker_t;
   ')
')
