policy_module(permissivedomains,20)

optional_policy(`
    gen_require(`
                type gssproxy_t;
        ')

        permissive gssproxy_t;
')
